
node_modules/
# including deeply nested node_modules
.vscode/
./dist/
*.zip

.env.development

# user.config.js
user.config.0.js

info*.sh
info*.txt

manifest-bak.json
info-git-command.sh
