/* Popup-specific styles */
:root {
  --popup-width: 400px;
}

html, body {
  width: var(--popup-width);
  min-width: var(--popup-width);
  max-width: var(--popup-width);
  min-height: 300px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app {
  box-sizing: border-box !important;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  overflow-y: auto;
  padding: 0 !important;
  box-sizing: border-box;
}

.container {
  width: 100%;
  box-sizing: border-box;
  min-height: min-content;
  padding-left: 8px;
  padding-right: 20px; /* account for scrollbar on the right */
  display: flex;
  flex-direction: column;
  gap: 6px;
  /* flex: 1 1 auto; */
  position: relative;
}
